


<div class="container">
  <br><br>
    <button type="button" class="btn btn-primary" (click)="openModal(template)">Post New Blog</button>
<br><br>
  <div class="row">
    <div *ngFor='let blog of blogs;index as i' class="col-sm-4">
      <div  class="card" style="margin: 2%">
        <div class="card-body">
          <h5 class="card-title">{{blog.text}}</h5>
        </div>
        <div class="card-footer text-left">
          <span class="text-muted">{{blog.vote}}&nbsp;&nbsp;
            <button [disabled]='checkDisabled(blog._id)' (click)='upvoteBlog(blog)'>
              <i style="font-size:24px" class="fa">&#xf087;</i>&nbsp;&nbsp;Vote
            </button>
          </span>
          <span class="text-muted" style="margin-left: 6%">{{convertDate(blog.createdAt)}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Your Blog</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="ta">Enter Your Text</label>
      <textarea autofocus required style="width: 27rem" class="form-control" id="ta" rows="5" [(ngModel)]='text'></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()" data-dismiss="modal">Close</button>
    <button type="button" (click)='postBlog();modalRef.hide()' class="btn btn-primary">Post</button>
  </div>
</ng-template>